.img {
    height: 150%;
    width:70%;
    padding-top:80px;
    padding-bottom: 50px;
}
.first {
    padding-left: 100px;
    width: 25%;
    float:left;
}
.second { 
    border: solid;
    padding-top:50px;
    padding-left: 70px;
    width: 60%;
    float:right;
}

.info {
    color: rgb(102, 255, 0);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(216, 127, 10);
}

.name {
    text-decoration: underline;
    text-decoration: aqua;
}